.team-intro {
	background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;

    color: white;
	.team-intro-header{
		text-align: center;
		margin: auto;
		margin-bottom: 36px;
		font-family: "snake-font";
		width: 40%;

		img{
			margin-top: 60px;
		}
	}
	.team-intro-contents {
		display: flex;
		overflow: hidden;
		width: 100%;
		justify-content: space-between;
	}
}
